@using BCErp.DTO
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        User
        <a class="btn btn-sm btn-default" href="@Url.Action("Create","User")" style="float:right;margin-top:-5px;">Create</a>
    </div>
    <div class="panel-body">

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td style="width: 40px"></td>
                    <td style="text-align:center">No</td>
                    <td style="text-align:center">Code</td>
                    <td style="text-align:center">Name</td>
                    <td style="text-align:center">Email</td>
                    <td style="text-align:center">Role</td>
                    <td style="text-align:center">Active</td>
                </tr>
            </thead>

            <tbody>
                @{

                    List<UserDTO> userDTOs = (List<UserDTO>)ViewBag.UserList;

                    int no = 0;
                    string editAction = "";
                    for (int i = 0; i < userDTOs.Count; i++)
                    {
                        no = i + 1;
                        editAction = "Edit/" + userDTOs[i].Id;
                        <tr>
                            <td style="text-align:center">
                                <a class="btn btn-sm btn-warning" href='@Url.Action(editAction,"User")'><span class="glyphicon glyphicon-pencil"></span></a>
                            </td>
                            <td style="text-align:center">@no</td>
                            <td style="text-align:center">@userDTOs[i].Code</td>
                            <td>@userDTOs[i].Name</td>
                            <td>@userDTOs[i].Email</td>
                            <td>@userDTOs[i].RoleName</td>
                            <td style="text-align:center">
                                @if (userDTOs[i].Active)
                                {
                                    <input type="checkbox" disabled checked />
                                }
                                else
                                {
                                    <input type="checkbox" disabled />
                                }


                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
</div>
